# Used by docker compose for volume permissions (see https://airflow.apache.org/docs/apache-airflow/stable/howto/docker-compose/index.html#setting-the-right-airflow-user)
# On Linux, set to your uid:  echo "AIRFLOW_UID=$(id -u)" > .env
AIRFLOW_UID=50000
